<div class="static">
  <mat-card-header>
    <mat-card-title><h1>Terms and Conditions</h1></mat-card-title>
  </mat-card-header>
  <mat-card>
    <mat-card-content>
      <p>Before using our software make sure you fully understand how it works as you bear all the risks when using it with your funds</p>
      <ul>
        <li>Bot does not use any external sources of exchange rates, it defines relative price of two assets as ratio between it's balances. For example bot has balances A and B, price will be A/B</li>
        <li>Bot trades just few percents of it's total balance to make sure balances don't change too much after it's offer has been taken</li>
        <li>When you commit your funds you deposit both assets traded by bot in equal value. If price of asset A grows relative to asset B, then when you withdraw you will get less of asset A and more of asset B. For example, if you committed 0.01 BTC and 100 USD and Bitcoin price goes from $10k to $100k, you will get approximately 10 times less BTC than you deposited.</li>
      </ul>

      <h2>Disclaimer</h2>
      <p>
        Past performance of trading strategy is not a guarantee of future performance. Apay does not guarantees any returns from usage of our bot and doesn't give financial advice.
      </p>

      <h2>Risks</h2>
      <p>
        As a User you are aware of all risks of holding, trading and using crypto-currencies and take full responsibility of these risks.
      </p>

      <h2>Liability</h2>
      <p>
        We are not liable to you for any direct or indirect damage you suffer as a result of the use of the bot or the educational content we provided about the bot. For example, we are not liable for:
      </p>
      <ul>
        <li>the (lack of) financial benefit for the Users</li>
        <li>any situation where User loses control of his Stellar account / private key. We cannot help you restore it or get your funds back.</li>
        <li>any situation where another party gains control of User's Stellar account / private key. Possession of private keys fully defines who has access to the account.</li>
        <li>User is solely liable for paying all applicable taxes</li>
      </ul>

      <h2>Indemnification</h2>
      <p>
        Users will indemnify, defend and hold Apay harmless from and against all liabilities,
        damages and costs arising out of third party claims regarding breach by user of these
        Terms and Conditions or violation of any applicable law, regulation or order
      </p>

      <h2>Contact</h2>
      <p>
        For any help or clarification contact support@apay.io
      </p>
</mat-card-content>
  </mat-card>

</div>
