<div class="container">
    <div class="title-row">
        <div class="title">
            Send your funds
        </div>
        <div class="transaction">
            <span class="tx-id-title">
                Transaction ID:
            </span>
            <span class="tx-id">
                {{exchange.id}}
            </span>
        </div>
    </div>
    <div class="content-block">
        <div class="info">
            <div class="description">
                Please use your wallet or exchange to send money to the following address in one transaction or use QR-code
            </div>
            <div class="details-info">
                <div class="title-details">
                    Send
                </div>
                <div class="description-details">
                  {{exchange.amountIn}} {{exchange.currencyIn.code}}
                </div>
            </div>
            <div class="details-info">
                <div class="title-details">
                    To address
                </div>
                <div class="description-details">
                    {{exchange.addressIn}}
                    <span class="copy" [text-copy]="exchange.addressIn">
                        Copy
                    </span>
                </div>
            </div>
            <div class="details-info" *ngIf="exchange.currencyIn.stellarNative">
                <div class="title-details">
                    Memo ID
                </div>
                <div class="description-details">
                    {{exchange.memoIn}}
                    <span class="copy" [text-copy]="exchange.memoIn">
                        Copy
                    </span>
                </div>
            </div>
        </div>
        <app-crypto-qr [code]="exchange.currencyIn.code" [address]="exchange.addressIn"></app-crypto-qr>
    </div>
    <div class="info-line">
        <div class="text">
          contact <a style="color:gray;" href="mailto:support@apay.io?subject=Transaction {{exchange.id}}">support@apay.io</a> if you experience any problems with your exchange
        </div>
    </div>
</div>

