@import "./../stylesheets/tools/media.scss";

.mat-card {
  border-radius: 0;
}
.mat-raised-button {
  border-radius: 0;
}
.mat-flat-button {
  border-radius: 0;
}

.button-blue {
  width: 100%;
  max-width: 200px;
  border-width: 1px;
  height: 48px;
  cursor: pointer;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background: #2196F3;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  .icon {
    display: block;
    position: relative;
    margin-right: 8px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }

  .text {
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: normal;
  }

  &.disabled {
    background: rgba(0,0,0,.12);
    border-color: rgba(0,0,0,.12);

    &:hover {
      background: rgba(0,0,0,.12);
    }
  }

  &:hover {
    background: rgb(14, 80, 188);
  }

  @include mobile {
    max-width: 200px;
  }
}

.button-next, .button-back {
  position: relative;
  height: 60px;
  line-height: 38px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgb(57, 66, 71);
  cursor: pointer;
  padding: 0 1.2rem;
  background: rgba(179, 180, 180, 0.15);
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  text-decoration: none;
  outline: 0;
  transition: all 0.25s ease 0s;
  box-shadow: none;

  &.external-link {
    line-height: 58px;
    text-align: center;
  }

  .external-icon {
    width: 15px;
    height: 15px;
    position: relative;
    top: -10px;
    right: -10px;
    object-fit: contain;
    font-size: 14px;
  }

  &.load {
    background: #2196F382;
    color: #fff;
  }

  .icon {
    position: relative;
    margin-right: 8px;
    font-size: 16px;
    text-align: center;
    margin-left: -29px;
  }

  ::ng-deep .mat-button-wrapper {
    text-align: center;
    width: 100%;
    display: block;
  }
}

.button-next {
  background:  #efa344;
  color: #fff;
}

.button-back {
  width: unset;
  height: 40px;
  margin: 0;
  font-size: 14px;
  box-shadow: none;
}

.spinner {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid #efa344;
  border-radius: 50%;

  &.small, &.processing {
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 7px;
    width: 15px;
    height: 15px;

    &:before,
    &:after {
      width: 1px;
      background-color: #fff;
    }

    &:before {
      height: 4.5px;
      left: 6.7px;
    }

    &:after {
      height: 6px;
      left: 6.7px;
    }
  }

  &.processing {
    position: absolute;
    margin-left: -25px;
    margin-top: 10px;
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    background-color: #efa344;
    transform-origin: 50% 0;
  }

  &:before {
    height: 9px;
    left: 13px;
    top: 50%;
    animation: spinner 4000ms linear infinite;
  }

  &:after {
    height: 12px;
    left: 13px;
    top: 50%;
    animation: spinner 800ms linear infinite;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
