/* MODAL STYLES*/
@import "./../stylesheets/tools/media.scss";
@import "./../stylesheets/button";

modal, .login, .modal-choice-currency {
  display: none;

  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: auto;
    -webkit-animation: fade-in 0.3s ease-in-out;
    animation: fade-in 0.3s ease-in-out;

    .modal-body {
      width:auto;
      background: #fff;
      box-shadow: 0px 48px 48px rgba(20, 20, 20, 0.16), 0px 0px 24px rgba(20, 20, 20, 0.16);

      .close-menu {
        width: 24px;
        height: 24px;
        object-fit: contain;
        cursor: pointer;
      }

      .menu-item {
        cursor: pointer;
        display: flex;
        margin: 48px 0;
        min-height: 25px;

        .icon-item {
          width: 24px;
          object-fit: contain;
        }

        .text-item {
          text-decoration: none;
          margin-left: 16px;
          line-height: 24px;
          font-size: 17px;
          color: var(--app-primary-color);
        }
      }

      .support {
        cursor: pointer;
        margin: 24px 0;
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(215, 222, 224, 0.64);
        overflow: hidden;

        .text-support {
          margin-bottom: 16px;
          line-height: 24px;
          font-size: 17px;
          text-align: center;
          color: var(--app-base-black);
        }
      }
    }
    @include mobile {
      -webkit-animation: slide-in 0.3s ease-in-out;
      animation: slide-in 0.3s ease-in-out;
      align-items: flex-end;

      .modal-body {
        width: 100vw;
        max-width: unset;
      }
    }
  }

  .modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: fade-in 0.3s ease-in-out;
    animation: fade-in 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 900;
  }
}

.login, .modal-choice-currency {
  display: block;
  animation: none;

  .modal {
    .modal-body {
      position: relative;
      z-index: 1010;
      -webkit-animation: fade-in 0.3s ease-in-out;
      animation: fade-in 0.3s ease-in-out;
      max-width: unset;
    }
  }

  .modal-background {
    z-index: 1005;
  }

  @include mobile {
    .modal {
      animation: none;

      .modal-body {
        -webkit-animation: slide-in 0.3s ease-in-out;
        animation: slide-in 0.3s ease-in-out;
      }
    }
  }
}

body.modal-open {
  overflow: hidden;

  .modal {
    display: flex;
  }
}

.head-popup {
  min-width: 540px;
  position: relative;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  background: #2196F3;
  color: #fff;

  .back {
    cursor: pointer;
    position: absolute;
    z-index: 101;
    left: 0;
    top: 0;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-back {
      font-size: 22px;
    }
  }

  .close {
    cursor: pointer;
    position: absolute;
    z-index: 101;
    right: 0;
    top: 0;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon-close {
      font-size: 25px;
    }
  }

  @include mobile {
    min-width: unset;
    width: 100%;
  }
}

.content-popup {
  min-width: 412px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 64px;

  &.tokens {
    min-width: 540px;
    padding: 0;
  }

  .button-sign-in {
    width: 100%;
    max-width: 360px;
    border-width: 1px;
    height: 48px;
    cursor: pointer;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background: #2196F3;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-style: solid;
    border-color: rgb(14, 80, 188);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    .icon {
      display: block;
      position: relative;
      margin-right: 8px;
      font-size: 16px;
      text-align: center;
      cursor: pointer;
      width: 20px;
      height: 20px;
      object-fit: contain;
    }

    .text {
      color: #fff;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: normal;
    }

    &:hover {
      background: rgb(14, 80, 188);
    }
  }

  .description {
    text-align: center;
    margin-top: 16px;
    font-size: 16px;
    color: #000;
  }

  .text-info {
    text-align: center;
    margin-top: 16px;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 70px;
    width: 100%;

    .deposit-address {
      font-weight: bold;
      word-break: break-all;
      padding: 0 20px;

      .icon {
        margin-left: 5px;
        padding: 5px;
        cursor: pointer;
        color: #000;
        transition: .3s;
        transform: rotate(180deg);
        font-size: 18px;

        &:hover {
          color: #2196F3;
        }
      }
    }

    .bold {
      font-weight: bold;
      word-break: break-all;
    }
  }

  .link {
    color: rgb(14, 80, 188);
    font-size: 16px;
    transition: 0.3s;
    text-decoration: none;

    &:hover {
      color: rgba(14, 80, 188, 0.61);
    }
  }

  .indent {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 33px;

    .line {
      width: 100%;
      min-width: 110px;
      height: 1px;
      background: rgb(223, 223, 223);
    }

    .text {
      margin: 0 15px;
      text-align: center;
      font-size: 12px;
      font-weight: 500;
      color: rgb(151, 151, 151);
    }
  }

  .external {
    .description {
      text-align: center;
      font-size: 14px;
      margin-top: 8px;
      font-weight: 500;
    }

    .wallets-wrapper {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .wallet {
        margin: 16px 8px 0;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
        height: 48px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(223, 223, 223);
        transition: all 300ms ease 0s;

        .wallet-title {
          color: #000;
          text-align: center;

          .icon {
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 900ms ease 0s;
            opacity: 1;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            position: relative;
            top: 2px;
            left: 2px;
          }
        }

        &.big {
          min-width: 156px;
        }

        &:hover {
          background: rgb(249, 249, 249);
          border-color: rgb(223, 223, 223);
        }
      }
    }
  }

  @include mobile {
    min-width: unset;
    width: 100%;
    padding: 40px 0;

    &.tokens {
      min-width: unset;
      width: 100%;
      padding: 0;
    }

    .button-sign-in {
      padding: 0 10px;
      max-width: 220px;
    }

    .indent {
      .line {
        width: 30%;
      }
    }
  }

  .search-currency {
    width: 100%;
    border-bottom: 1px solid rgb(223, 223, 223);

    .search-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      font-size: 14px;
      margin: 16px;

      .icon {
        display: inline-block;
        position: absolute;
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: rgb(151, 151, 151);
        pointer-events: none;
      }

      input {
        width: 100%;
        color: rgb(59, 59, 59);
        border-width: 0px;
        outline: none;
        padding: 12px 32px;
        background: transparent;
        display: inline-block;
      }
    }

    @include mobile {
      display: none;
    }
  }

  .currency-wrapper {
    background: rgb(255, 255, 255);
    padding: 24px;
    max-height: 383px;
    overflow: auto;
    min-height: 383px;
    width: 90%;

    .title {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      line-height: normal;
      font-size: 12px;
      font-weight: 500;
      text-transform: uppercase;
      margin-bottom: 16px;
      color: rgb(151, 151, 151);
    }

    .currency-list {
      display: flex;
      flex-wrap: wrap;

      .currency-item {
        display: flex;
        justify-content: center;
        width: 21%;
        margin-bottom: 15px;
        margin-right: 22px;
        flex-direction: column;
        align-items: center;
        border: 1px solid transparent;
        position: relative;
        cursor: pointer;
        text-align: center;
        padding: 16px 0;
        transition: all 300ms ease 0s;

        .icon {
          padding: 4px;
          height: 48px;
          width: 48px;
          margin-bottom: 8px;
          transition: all 900ms ease 0s;

          &.XLM {
            width: 57px;
            height: 57px;
            padding: 0;
          }

          &.BAT {
            position: relative;
          }

          &.REP {
            height: 55px;
            width: 82px;
            object-fit: cover;
            object-position: top;
          }
        }

        .title-currency {
          contain: #000;
          font-weight: 600;
          font-size: 12px;
          margin-bottom: 4px;
        }

        .description-currency {
          font-size: 12px;
          font-weight: 600;
          color: rgb(151, 151, 151);
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: normal;
          max-width: 75px;
        }

        &:hover {
          background: rgb(238, 238, 238);
        }


        &.active {
          border: 1px solid #2196F3;
          background: rgb(245, 251, 255);
        }

        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }

    @include mobile {
      display: none;
      max-height: 370px;

      .currency-list {
        .currency-item {
          width: 30%;
        }
      }
    }
  }

  .table-mobile {
    width: 100vw;
    display: none;

    .icon {
      position: absolute;
      top: 0;
      left: 0;
    }

    ::ng-deep .mat-form-field {
      .mat-input-element {
        color: #000;
        caret-color: #000;

      }
      .mat-form-field-label {
        color: #000;
      }
      .mat-form-field-underline {
        background-color: transparent;
      }
      .mat-form-field-ripple {
        background-color: transparent;
      }
      .mat-form-field-required-marker {
        color: #fff;
      }
    }

    ::ng-deep .mat-form-field-appearance-legacy {
      .mat-form-field-infix {
        .icon {
          position: absolute;
          left: -20px;
          top: 8px;
        }
      }

      .mat-form-field-wrapper {
        margin-left: 30px;
      }
    }

    @include mobile {
      display: block;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}
