<div class="container">
    <div class="title-row">
        <div class="title">
            <i class="far fa-check-square icon"></i>
            <div class="text">
                Transaction completed!
            </div>
        </div>
        <div class="tx-id">
            Transaction ID:  Lboceg567Ghtr
        </div>
    </div>
    <div class="exchange-info">
        <div class="from">
            <div class="title">
                Amount from
            </div>
            <div class="description">
                71.4 XLM
            </div>
        </div>
        <div class="to">
            <div class="title">
                Amount to
            </div>
            <div class="description">
                0.000192352 BTC
            </div>
        </div>
    </div>
    <div class="exchange-details">
        <div class="item">
            <div class="title">
                Money received
            </div>
            <div class="description">
                26 Sep 2019, 10:03:33
            </div>
        </div>
        <div class="item">
            <div class="title">
                Money received
            </div>
            <div class="description">
                26 Sep 2019, 10:32:21
            </div>
        </div>
        <div class="item">
            <div class="title">
                Exchange rate
            </div>
            <div class="description">
                1 XLM = 0.000004587374734736427364 BTC
            </div>
        </div>
        <div class="item">
            <div class="title">
                Recipient address
            </div>
            <div class="description">
                32rfhdjsfhFghJH544234skfhj3hF7HasdG879
            </div>
        </div>
        <div class="item">
            <div class="title">
                Input hash
            </div>
            <div class="description">
                5891614245712138175418923rfhdjsfhFghJH544234skfhj3hF7JiasdG879612983532
            </div>
        </div>
        <div class="item">
            <div class="title">
                Output hash
            </div>
            <div class="description">
                66648234876237846287418923rfhdjsfhFghJH544234skfhj3hF7JiasdGsdjfh7687Hla
            </div>
        </div>

        <a href="#" class="button-link">
            See transaction on Blockchain
        </a>
    </div>
</div>