@import "../../stylesheets/tools/media";
@import "../../stylesheets/button";

.container {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  width: 900px;
  margin: 30px auto;

  .title-row {
    background: #efa344;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px;
    border-radius: 8px 8px 0 0;

    .title {
      display: flex;
      align-items: center;

      .text {
        color: #fff;
        font-weight: 700;
        font-size: 30px;
      }

      .icon {
        width: 60px;
        height: 60px;
        margin-right: 16px;
      }
    }

    .tx-id {
      color: #fff;
      font-size: 20px;
    }
  }

  .exchange-info {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #b3b4b44d;

    .from, .to {
      width: 50%;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .title {
        font-size: 20px;
        color: #000;
      }

      .description {
        margin-top: 15px;
        font-size: 22px;
        color: #000;
        font-weight: 700;
      }
    }
  }

  .exchange-details {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 16px;

    .item {
      width: 45%;
      padding: 0 2% 0 3%;

      .title {
        font-size: 19px;
        color: #b3b4b4;
        margin-bottom: 8px;
      }

      .description {
        margin-bottom: 15px;
        font-size: 19px;
        color: #000;
        overflow-wrap: break-word;
        line-height: 1.4;
      }
    }

    .button-link {
      text-decoration: none;
      width: 94%;
      height: 50px;
      margin: 30px 3% 0;
      background: #b3b4b459;
      font-weight: 600;
      color: #000;
      border-radius: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: .3s;

      &:hover {
        background: rgba(179, 180, 180, 0.49);
      }
    }
  }

  @include mobile {
    flex-wrap: wrap;
    width: 100vw;
    padding: 0 0 21px;

    .title-row {
      flex-wrap: wrap;
      padding: 21px 0;

      .title {
        .text {
          font-size: 24px;
        }
      }

      .tx-id {
        margin-left: 76px;
        margin-right: 20px;
        font-size: 17px;
      }
    }
    .exchange-info {
      .from, .to {
        .description {
          font-size: 17px;
        }
      }
    }

    .exchange-details {
      .item {
        .title, .description {
          font-size: 16px;
        }
      }
    }
  }
}
