<div class="search">
  <mat-form-field>
    <i class="fas fa-search icon"></i>
    <input placeholder="Search" type="text" matInput (keyup)="applyFilter($event.target.value)">
  </mat-form-field>
</div>


<!--<div class="select-currency">-->
<!--    <mat-form-field>-->
<!--         <mat-select (selectionChange)="selectUnit()" [(value)]="selectedCurrency">-->
<!--            <span></span>-->
<!--            <mat-select-trigger>-->
<!--                {{selectedCurrency}}-->
<!--            </mat-select-trigger>-->
<!--            <mat-option value="USD">USD-->
<!--            </mat-option>-->
<!--            <mat-option value="EUR">EUR-->
<!--            </mat-option>-->
<!--            <mat-option value="XDR">XDR-->
<!--            </mat-option>-->
<!--        </mat-select>-->
<!--    </mat-form-field>-->
<!--</div>-->

<!--<table matSort (matSortChange)="sortData($event)" matSortActive="name" matSortDirection="asc" matSortDisableClear>-->
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="volume" matSortDirection="desc">

    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <img class="icon" [ngClass]="row.code" src="{{row.icon}}" alt="">
      </td>
    </ng-container>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME</th>
      <td mat-cell *matCellDef="let row">
        <div class="name">
          <div class="title">
            {{row.code}}
          </div>
          <div class="description">
            {{row.name}}
          </div>
        </div>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PRICE {{this.selectedCurrency}}</th>
      <td mat-cell *matCellDef="let row"><span class="price">{{ formatAmount(row.price) }}</span></td>
    </ng-container>

    <ng-container matColumnDef="change">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 24H CHANGE</th>
      <td mat-cell *matCellDef="let row"><span class="change"
                                               [ngClass]="row.change >= 0 ? 'positive' : 'negative'">{{row.change.toFixed(2)}}
        % </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="graph">
      <th mat-header-cell *matHeaderCellDef>7D GRAPH</th>
      <td mat-cell *matCellDef="let row">
        <svg id="sparkline-{{row.code}}" class="sparkline" width="100" height="30" stroke-width="1"></svg>
      </td>
    </ng-container>

    <ng-container matColumnDef="volume">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 24H VOLUME</th>
      <td mat-cell *matCellDef="let row"> {{ formatAmount(row.volume, 'fixed') }}</td>
    </ng-container>

    <ng-container matColumnDef="depthUsd">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MARKET DEPTH</th>
      <td mat-cell *matCellDef="let row"> {{ formatAmount(row.depthUsd, 'fixed') }}</td>
    </ng-container>

    <ng-container matColumnDef="convert">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <div class="buttons">
          <div class="button-convert" (click)="currencySelection(row, 'buy')">
            <div class="text">
              Buy
            </div>
          </div>
          <div class="button-convert" (click)="currencySelection(row, 'sell')">
            <div class="text">
              Sell
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
</div>
