@import "../../stylesheets/modals";
@import "../../stylesheets/tools/media";
@import "../../stylesheets/button";

.converter-wrapper {
  position: sticky;
  z-index: 102;
  top: 0;
  display: flex;
  justify-content: center;

  &.processing {
    position: relative;

    .converter {
      flex-wrap: wrap;
      justify-content: center;
      box-shadow: none;
      border: none;
      padding: 0;
      height: unset;

      .currency-from-amount-field, .currency-to-amount-field {
        width: 100%;
        padding: 0 0 10px;

        .input-field {
          margin-right: 20px;
          height: 50px;

          &:focus {
            border-color: #efa344;
          }
        }
      }

      .currency-to-amount-field {
        padding: 10px 0;
      }

      .wrapper-icon-convert {
        margin-right: 0;

        .icon-convert {
          color: #efa344;
        }
      }
    }
  }

  .converter-bg {
    position: absolute;
    width: 100%;
    height: 65px;
    background: #0f59d1;
  }

  .converter {
    width: 100%;
    max-width: 1127px;
    position: sticky;
    z-index: 102;
    margin-top: 15px;
    height: 50px;
    background: #fff;
    border: 1px solid rgb(223, 223, 223);
    padding: 24px 16px 24px 24px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px, rgba(0, 0, 0, 0.08) 0px 1px 2px 0px;

    .currency-from-amount-field, .currency-to-amount-field {
      display: flex;
      margin-right: 10px;

      .wrapper {
        display: flex;
        cursor: pointer;

        .wrapper-icon {
          background-color: #fff;
          height: 48px;
          width: 48px;
          padding: 1px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
          border: 1px solid rgb(238, 238, 238);
          overflow: hidden;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .icon {
            background-color: #fff;
            height: 100%;
            width: 100%;
            background-size: cover;
            flex-shrink: 0;
            cursor: pointer;

            &.MTL, &.BCH, &.XLM {
              height: 56px;
              width: 56px;
              padding: 0;
            }

            &.BAT {
              width: 37px;
              margin-top: -8px;
            }

            &.REP {
              height: 51px;
              width: 67px;
              object-fit: cover;
              object-position: top;
            }

            &.SALT {
              width: 32px;
              margin-top: -8px;
            }
          }
        }

        .info-currency {
          min-width: 60px;
          margin: 0 16px;
          display: flex;
          justify-content: center;
          flex-direction: column;

          .text {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: visible;
            line-height: normal;
            font-size: 12px;
            font-weight: 600;
            color: rgb(151, 151, 151);
            display: flex;
            align-items: center;
            margin-bottom: 2px;
            text-transform: uppercase;
          }

          .currency {
            contain: #000;
            font-weight: 600;

            .icon-arrow {
              display: inline-flex;
              position: relative;
              font-size: 8px;
              padding-left: 4px;
              color: rgb(0, 0, 0);
            }
          }
        }
      }

      .input-field {
        width: 100%;
        min-height: 50px;
        padding: 0px 16px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(223, 223, 223);
        text-overflow: ellipsis;
        transition: all 300ms ease 0s;
        color: rgb(59, 59, 59);
        background: none;
        font-size: 16px;
        border-radius: 8px;
        text-align: left;
        height: 100%;
        outline: none;
        font-weight: 600;

        &::placeholder {
          opacity: 0.3;
        }

        &:focus {
          border-radius: 8px;
          border-color: #0f59d1;
        }
      }
    }

    .wrapper-icon-convert {
      margin-right: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;

      .icon-convert {
        display: flex;
        position: relative;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-align: center;
        color: rgb(15, 89, 209);
        transition: .3s;
      }

      &:hover {
        .icon-convert {
          color: rgba(15, 89, 209, 0.5);
        }
      }
    }

    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      height: 244px;

      .currency-from-amount-field, .currency-to-amount-field {
        margin-bottom: 20px;
      }

      .wrapper-icon-convert {
        margin-bottom: 20px;
      }
    }
  }
}
