<div class="converter-wrapper" *ngIf="!isProcessingConverter">
    <div class="converter-bg"></div>
    <div class="converter">
        <div class="currency-from-amount-field">
            <div class="min-info">
                min {{currencySell.minDeposit}}
            </div>
            <div class="wrapper" (click)="openPopupSell()">
                <div class="wrapper-icon">
                    <img class="icon" [ngClass]="currencySell.code" [src]="currencySell.icon" alt="">
                </div>
                <div class="info-currency">
                    <div class="text">
                        PAY WITH
                    </div>
                    <div class="currency">
                        {{currencySell.code}}
                        <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path d="M0 .093l12 13.472L24 0H0z"></path></svg>
                    </div>
                </div>

            </div>
            <input #sell class="input-field" placeholder="Enter Amount" type="text" (keyup)="calculateBuy()">
        </div>
        <div class="wrapper-icon-convert" (click)="revertCurrency()">
            <svg class="icon-convert" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 24" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path d="M20.657 5.92c0 .66-.53 1.199-1.205 1.199H4.005L6.681 9.81c.216.22.337.538.337.856 0 .319-.145.637-.362.857-.24.22-.53.342-.843.342-.314 0-.627-.147-.844-.367L.343 6.752a1.21 1.21 0 0 1 0-1.688L4.946.342c.241-.22.53-.342.843-.342.314 0 .603.097.844.342.457.49.457 1.248 0 1.713L4.055 4.722h15.422c.65 0 1.18.538 1.18 1.198zM15.187 24c-.313 0-.602-.122-.818-.342a1.196 1.196 0 0 1-.362-.856c0-.319.12-.637.337-.857l2.627-2.692H1.525c-.65 0-1.18-.538-1.18-1.198 0-.66.53-1.199 1.18-1.199h15.422l-2.603-2.642c-.458-.49-.458-1.248 0-1.713.482-.464 1.23-.464 1.687 0l4.626 4.698a1.21 1.21 0 0 1 0 1.688l-4.626 4.746c-.217.244-.53.367-.844.367z"></path></svg>
        </div>
        <div class="currency-to-amount-field">
            <div class="wrapper" (click)="openPopupBuy()">
                <div class="wrapper-icon">
                    <img class="icon" [ngClass]="currencyBuy.code" [src]="currencyBuy.icon" alt="">
                </div>
                <div class="info-currency">
                    <div class="text">
                        RECEIVE
                    </div>
                    <div class="currency">
                        {{currencyBuy.code}}
                        <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path d="M0 .093l12 13.472L24 0H0z"></path></svg>
                    </div>
                </div>
            </div>
            <input #buy class="input-field" placeholder="Enter Amount" type="text" (keyup)="calculateSell()">
        </div>
        <div class="button-blue" [class.disabled]="this.stateButton === 'disabled' ? true : null" (click)="continue()">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 24" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path d="M20.657 5.92c0 .66-.53 1.199-1.205 1.199H4.005L6.681 9.81c.216.22.337.538.337.856 0 .319-.145.637-.362.857-.24.22-.53.342-.843.342-.314 0-.627-.147-.844-.367L.343 6.752a1.21 1.21 0 0 1 0-1.688L4.946.342c.241-.22.53-.342.843-.342.314 0 .603.097.844.342.457.49.457 1.248 0 1.713L4.055 4.722h15.422c.65 0 1.18.538 1.18 1.198zM15.187 24c-.313 0-.602-.122-.818-.342a1.196 1.196 0 0 1-.362-.856c0-.319.12-.637.337-.857l2.627-2.692H1.525c-.65 0-1.18-.538-1.18-1.198 0-.66.53-1.199 1.18-1.199h15.422l-2.603-2.642c-.458-.49-.458-1.248 0-1.713.482-.464 1.23-.464 1.687 0l4.626 4.698a1.21 1.21 0 0 1 0 1.688l-4.626 4.746c-.217.244-.53.367-.844.367z"></path></svg>
            <div class="text">
                Convert
            </div>
        </div>
    </div>
</div>

<div class="converter-wrapper processing" *ngIf="isProcessingConverter">
    <div class="converter" [formGroup]="amountFormConverter" >
        <div class="currency-from-amount-field">
            <input #sell class="input-field" formControlName="fromAmount" placeholder="Enter Amount" type="text">
            <div class="wrapper" (click)="openPopupSell()">
                <div class="wrapper-icon">
                    <img class="icon" [ngClass]="currencySell.code" [src]="currencySell.icon" alt="">
                </div>
                <div class="info-currency">
                    <div class="text">
                        PAY WITH
                    </div>
                    <div class="currency">
                        {{currencySell.code}}
                        <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path d="M0 .093l12 13.472L24 0H0z"></path></svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-icon-convert" (click)="revertCurrency()">
            <svg class="icon-convert" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 24" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path d="M20.657 5.92c0 .66-.53 1.199-1.205 1.199H4.005L6.681 9.81c.216.22.337.538.337.856 0 .319-.145.637-.362.857-.24.22-.53.342-.843.342-.314 0-.627-.147-.844-.367L.343 6.752a1.21 1.21 0 0 1 0-1.688L4.946.342c.241-.22.53-.342.843-.342.314 0 .603.097.844.342.457.49.457 1.248 0 1.713L4.055 4.722h15.422c.65 0 1.18.538 1.18 1.198zM15.187 24c-.313 0-.602-.122-.818-.342a1.196 1.196 0 0 1-.362-.856c0-.319.12-.637.337-.857l2.627-2.692H1.525c-.65 0-1.18-.538-1.18-1.198 0-.66.53-1.199 1.18-1.199h15.422l-2.603-2.642c-.458-.49-.458-1.248 0-1.713.482-.464 1.23-.464 1.687 0l4.626 4.698a1.21 1.21 0 0 1 0 1.688l-4.626 4.746c-.217.244-.53.367-.844.367z"></path></svg>
        </div>
        <div class="currency-to-amount-field">
            <input #buy class="input-field" formControlName="toAmount" placeholder="Enter Amount" type="text">
            <div class="wrapper" (click)="openPopupBuy()">
                <div class="wrapper-icon">
                    <img class="icon" [ngClass]="currencyBuy.code" [src]="currencyBuy.icon" alt="">
                </div>
                <div class="info-currency">
                    <div class="text">
                        RECEIVE
                    </div>
                    <div class="currency">
                        {{currencyBuy.code}}
                        <svg class="icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 14" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path d="M0 .093l12 13.472L24 0H0z"></path></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal id="currencies">
  <div class="modal">
    <div class="modal-body">
      <div class="head-popup">
        Select Tokens
        <div class="close" (click)="this.modalService.close('currencies');">
          <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path fill-rule="evenodd" d="M.458.404c.582-.565 1.54-.524 2.123.04l9.406 9.485L21.435.444c.583-.564 1.54-.605 2.123-.04.582.565.582 1.453.041 2.058l-9.531 9.526 9.531 9.565c.541.565.541 1.494-.041 2.059-.582.524-1.54.524-2.123-.04l-9.448-9.486-9.406 9.485c-.583.565-1.54.565-2.123.04-.582-.564-.624-1.493-.041-2.058l9.531-9.565L.417 2.462C-.166 1.857-.124.97.458.404z"></path></svg>
        </div>
      </div>
      <div class="content-popup tokens">
        <div class="search-currency">
          <div class="search-wrapper">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-radium="true"
                 style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;">
              <path d="M9.572 0C4.28 0 0 4.182 0 9.352s4.28 9.353 9.572 9.353a9.67 9.67 0 0 0 5.12-1.461L21.607 24 24 21.662l-6.827-6.653c1.227-1.573 1.97-3.523 1.97-5.657 0-5.17-4.28-9.352-9.571-9.352zm0 2.2c4.053 0 7.32 3.192 7.32 7.152 0 3.961-3.267 7.152-7.32 7.152-4.054 0-7.32-3.191-7.32-7.152 0-3.96 3.266-7.151 7.32-7.151z"></path>
            </svg>
            <input type="text" placeholder="Search Token Name or Symbol" [(ngModel)]="searchValue" (ngModelChange)="search()">
          </div>
        </div>
        <div class="currency-wrapper">
            <div class="currency-list">
                <div class="currency-item" *ngFor="let item of arraySearchValue" (click)="chooseCurrency(item, currencyInfoSave.type);modalService.close('currencies')" [ngClass]="{'active': currencyInfoSave.code == item.code}" >
                    <img class="icon" [ngClass]="item.code" [src]="item.icon" alt="">
                    <div class="title-currency">
                        {{item.code}}
                    </div>
                    <div class="description-currency">
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="table-mobile">
            <app-table-mobile  [currencyInfo]="currencyInfoSave"></app-table-mobile>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
