<div class="converter-wrapper" [ngClass]="{ processing: isProcessingConverter }">
    <div class="converter-bg" *ngIf="!isProcessingConverter"></div>
    <div class="converter">
        <div class="currency-from-amount-field">
            <app-choice-currency [exchange]="{value: exchange.currencyIn, type: 'sell'}" (outCurrentCurrency)='saveCurrentCurrency($event)'></app-choice-currency>
            <input #sell class="input-field" placeholder="Enter Amount" type="number" [ngModel]="exchange.amountIn" (keyup)="calculateBuy($event)">
        </div>
        <div class="wrapper-icon-convert">
            <i class="fas fa-exchange-alt icon-convert" (click)="revertCurrency()"></i>
            <i class="fas fa-redo refresh" [ngClass]="refreshClass" (click)="refresh()"></i>
        </div>
        <div class="currency-to-amount-field">
            <app-choice-currency [exchange]="{value: exchange.currencyOut, type: 'buy'}" (outCurrentCurrency)='saveCurrentCurrency($event)'></app-choice-currency>
            <input #buy class="input-field" placeholder="Enter Amount" type="number" [ngModel]="exchange.amountOut" (keyup)="calculateSell($event)">
        </div>
        <div class="button-blue" [ngClass]="{ disabled: this.stateButton === 'disabled'}" (click)="continue()" *ngIf="!isProcessingConverter">
            <i *ngIf="this.stateButton !== 'loading'" class="fas fa-exchange-alt icon"></i>
            <div *ngIf="this.stateButton === 'loading'"  class="spinner small" ></div>
            <div class="text">
                Convert
            </div>
        </div>
    </div>
</div>

<app-choice-currency-modal [currencyInfoSave]="currencyInfoSave" [getInfoCurrencies]="getInfoCurrencies" (outCurrency)='receiveCurrency($event)'></app-choice-currency-modal>
