<div class="container">
    <div class="title-row">
        <div class="title">
            Check details
        </div>
        <button
                (click)="changeStep(2)"
                mat-raised-button
                class="button-back">
            Back
        </button>
    </div>
    <form (ngSubmit)="process()">
        <div class="details-info">
            <div class="title-details">
                You send
            </div>
            <div class="description-details">
                {{exchange.amountIn}} {{exchange.currencyIn.code}}
            </div>
        </div>
        <div class="details-info">
            <div class="title-details">
                You get
            </div>
            <div class="description-details">
                {{exchange.amountOut}} {{exchange.currencyOut.code}}
            </div>
        </div>
        <div class="details-info">
            <div class="title-details">
                Recipient address
            </div>
            <div class="description-details">
                {{exchange.addressOut}}
            </div>
        </div>
        <div class="details-info" *ngIf="rate">
            <div class="title-details">
                Exchange rate
            </div>
            <div class="description-details">
              1 {{ exchange.currencyIn.code }} = {{ rate.toPrecision(6)|number:'1.0-8' }} {{ exchange.currencyOut.code }}<br/>
              1 {{ exchange.currencyOut.code }} = {{ (1/rate).toPrecision(6)|number:'1.0-8' }} {{ exchange.currencyIn.code }}
            </div>
        </div>
        <div class="details-info">
            <div class="title-details">
                Exchange fee
            </div>
            <div class="description-details">
                0.5%
            </div>
        </div>
        <div class="details-info">
            <div class="title-details">
                Network fee (will be excluded from the final amount)
            </div>
            <div class="description-details">
              {{ exchange.amountFee }} {{ exchange.currencyOut.code }}
            </div>
        </div>
        <div class="details-info">
            <div class="title-details">
                Estimated arrival
            </div>
            <div class="description-details">
                ≈ 5-30 minutes
            </div>
        </div>

<!--        <div class="agreement-checkbox">-->
<!--            <mat-checkbox formControlName="agreement" >-->
<!--                <span style="word-break: break-all;" class="">Your transaction might be subject to <a href="#" id="" class="">KYC</a> procedure. In this case you may be asked to verify your ID and the origin of the funds</span>-->
<!--            </mat-checkbox>-->
<!--        </div>-->
        <button
                [disabled]="!canContinue"
                mat-raised-button
                class="button-next">
            Confirm and make payment
        </button>
    </form>
</div>

