<div class="modal-choice-currency" *ngIf="modalInfo?.state && modalInfo?.name === 'choiceCurrency'">
    <div class="modal">
        <div class="modal-body">
            <div class="head-popup">
                Select Tokens
                <div class="close" (click)="controlsCustomModalService.close('choiceCurrency')">
                    <i class="fas fa-times icon-close"></i>
                </div>
            </div>
            <div class="content-popup tokens">
                <div class="search-currency">
                    <div class="search-wrapper">
                        <i class="fas fa-search icon"></i>
                        <input type="text" placeholder="Search Token Name or Symbol" [(ngModel)]="searchValue" (ngModelChange)="search()">
                    </div>
                </div>
                <div class="currency-wrapper">
                    <div class="currency-list">
                        <div class="currency-item" *ngFor="let item of arraySearchValue" (click)="selectCurrency(item, currencyInfoSave.type);controlsCustomModalService.close('choiceCurrency')" [ngClass]="{'active': currencyInfoSave.code == item.code}" >
                            <img class="icon" [ngClass]="item.code" [src]="item.icon" alt="">
                            <div class="title-currency">
                                {{item.code}}
                            </div>
                            <div class="description-currency">
                                {{item.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-mobile">
                    <app-table-mobile [getInfoCurrencies]="getInfoCurrencies" [currencyTableInfo]="currencyInfoSave"></app-table-mobile>
                </div>
            </div>
        </div>
        <div class="modal-background" (click)="controlsCustomModalService.close('choiceCurrency')"></div>
    </div>
</div>