<div class="content">
    <div class="wrapper">
        <div class="general-chart">
            <div *ngIf="sumValue" class="title-wrapper">
                <div class="title">
                    Total Balance
                </div>
                <div class="description">
                    {{this.sumValue}} XDR
                </div>
            </div>
            <div class="chart">
                <canvas baseChart
                        [options]="doughnutChartOptions"
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [datasets]="datasets"
                        [chartType]="doughnutChartType"></canvas>
            </div>
        </div>
        <!--div class="table-chart">
            <div style="width: 100%">
                <canvas baseChart
                        [options]="barChartOptions"
                        [colors]="barChartColors"
                        [data]="ChartData"
                        [labels]="ChartLabels"
                        [chartType]="ChartType">
                </canvas>
            </div>
        </div>
      <div class="table-chart">
        <div style="width: 100%">
          <canvas baseChart
                  [options]="barChartOptions"
                  [colors]="barChartColors"
                  [data]="balanceChartData"
                  [labels]="balanceChartLabels"
                  [chartType]="ChartType">
          </canvas>
        </div>
      </div-->
      <div class="controls-table">
        <div class="search">
                <mat-form-field>
                    <i class="fas fa-search icon"></i>
                    <input placeholder="Search" type="text" matInput [(ngModel)]="searchValue" (ngModelChange)="search()">
                </mat-form-field>
            </div>
            <div class="hide-low-balance">
                <mat-checkbox [checked]="hideLowBalanceFlag" (change)="isHideLowBalanceCheckbox($event)">
                    <span style="word-break: break-all;" class="">Hide low balance assets</span>
                </mat-checkbox>
            </div>
        </div>
        <div class="table-wrapper">
            <div class="table">
                <div class="row title">
                    <div class="cell">

                    </div>
                    <div class="cell">
                        Balance
                    </div>
                    <div class="cell">
                        %
                    </div>
                    <div class="cell">
                        Value(XDR)
                    </div>
<!--                    <div class="cell">-->
<!--                        Change 30D-->
<!--                    </div>-->
                    <div class="cell">

                    </div>
                </div>

                <div class="row" *ngFor="let item of arraySearchValue" [ngClass]="{'hide': this.hideLowBalanceFlag && item.balance === '0'}" (click)="drawingCharts(item.code, item.issuer, 30,'days')">
                    <div class="cell" [ngClass]="{'empty': !item.icon}">
                        <img class="icon" [ngClass]="item.code" [src]="item.icon" alt="">
                        <div class="empty-state"></div>
                        <div class="name-currency">
                            {{item.code}}
                        </div>
                    </div>
                    <div class="cell">
                        {{item.balance === '0' ? '-' : item.balance}}
                    </div>
                    <div class="cell">
                        {{item.balance == '0' ? '-' : item.percent}}
                    </div>
                    <div class="cell">
                        {{item.value == '0' ? '-' : item.value}}
                    </div>
<!--                    <div class="cell">-->
<!--                        {{item.balance === '0' ? '-' : item.change + '%'}}-->
<!--                    </div>-->
                    <div class="cell">
                        <div class="buttons-group">
                            <div class="button-convert" [ngClass]="{'disabled' : !item.deposit.enabled}" (click)="openModal($event, item, 'deposit');">
                                <div class="text">
                                    {{item.trustline ? 'Deposit': 'Accept'}}
                                </div>
                            </div>
                            <div class="button-convert" [ngClass]="{'disabled' : item.balance === '0' || !item.withdraw.enabled}" (click)="openModal($event, item, 'withdraw');">
                                <div class="text">
                                    Withdraw
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row title">
                    <div class="cell">
                        Total
                    </div>
                    <div class="cell">

                    </div>
                    <div class="cell">

                    </div>
                    <div class="cell">
                        {{sumValue}}
                    </div>
<!--                    <div class="cell">-->
<!--                        {{sumChange}}%-->
<!--                    </div>-->
                    <div class="cell">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal id="withdraw">
    <div class="modal">
        <div class="modal-body">
            <div class="head-popup">
                Withdraw
                <div class="close" (click)="modalService.close('withdraw');">
                    <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path fill-rule="evenodd" d="M.458.404c.582-.565 1.54-.524 2.123.04l9.406 9.485L21.435.444c.583-.564 1.54-.605 2.123-.04.582.565.582 1.453.041 2.058l-9.531 9.526 9.531 9.565c.541.565.541 1.494-.041 2.059-.582.524-1.54.524-2.123-.04l-9.448-9.486-9.406 9.485c-.583.565-1.54.565-2.123.04-.582-.564-.624-1.493-.041-2.058l9.531-9.565L.417 2.462C-.166 1.857-.124.97.458.404z"></path></svg>
                </div>
            </div>
            <div class="content-popup">
                <form [formGroup]="withdrawForm" class="operations-modal" (ngSubmit)="sendWithdrawForm()">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="Recipient's {{currentToken.code}} Address" formControlName="recipient"  value="">
                    </mat-form-field>
                    <div class="amount">
                        <div class="balance">
                            <div class="text">
                                Available Balance
                            </div>
                            <div class="text currency" (click)="addFullBalance(currentToken.balance)">
                                {{currentToken.balance}} {{currentToken.code}}
                            </div>
                        </div>
                        <div class="min">
                            Minimum Withdrawal: {{this.currentToken.withdraw.min_amount}} {{currentToken.code}}
                        </div>
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Amount" maxlength="18" formControlName="amount" autocomplete="off" value="">
                        </mat-form-field>
                        <div *ngIf="_amount.invalid && (_amount.touched || _amount.dirty)">
                            <span class="error" *ngIf="_amount.errors?.required">
                                Field cannot be empty
                            </span>
                            <span class="error" *ngIf="_amount.errors?.min && !_amount.errors?.pattern">
                                Value must be greater {{_amount.errors?.min.min}}
                            </span>
                            <span class="error" *ngIf="_amount.errors?.max && !_amount.errors?.pattern">
                                Value must not exceed {{_amount.errors?.max.max}}
                            </span>
                            <span class="error" *ngIf="_amount.errors?.pattern">
                                Value error
                            </span>
                        </div>
                    </div>
                    <div class="info">
                        <div class="title">
                          Transaction Fee:
                        </div>
                        <div class="text">
                          {{_amount.value * currentToken.withdraw.fee_percent + currentToken.withdraw.fee_fixed}} {{currentToken.code}}
                        </div>
                    </div>
                    <div class="info">
                        <div class="title">
                            You will get:
                        </div>
                        <div class="text">
                            {{ _amount.value * ( 1 - currentToken.withdraw.fee_percent) - currentToken.withdraw.fee_fixed }} {{currentToken.code}}
                        </div>
                    </div>
                    <button
                            [disabled]="!withdrawForm.valid"
                            mat-raised-button
                            [ngClass]="{'load': isLoading}"
                            class="button-next">
                            <svg *ngIf="isLoading" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                              <path fill="#fff" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                                <animateTransform attributeType="xml"
                                  attributeName="transform"
                                  type="rotate"
                                  from="0 25 25"
                                  to="360 25 25"
                                  dur="0.6s"
                                  repeatCount="indefinite"/>
                                </path>
                            </svg>
                        <span>{{buttonText}}</span>
                    </button>
                </form>
            </div>

        </div>
    </div>
    <div class="modal-background"></div>
</modal>

<modal id="deposit">
    <div class="modal">
        <div class="modal-body">
            <div class="head-popup">
                Deposit
                <div class="close" (click)="modalService.close('deposit');">
                    <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path fill-rule="evenodd" d="M.458.404c.582-.565 1.54-.524 2.123.04l9.406 9.485L21.435.444c.583-.564 1.54-.605 2.123-.04.582.565.582 1.453.041 2.058l-9.531 9.526 9.531 9.565c.541.565.541 1.494-.041 2.059-.582.524-1.54.524-2.123-.04l-9.448-9.486-9.406 9.485c-.583.565-1.54.565-2.123.04-.582-.564-.624-1.493-.041-2.058l9.531-9.565L.417 2.462C-.166 1.857-.124.97.458.404z"></path></svg>
                </div>
            </div>
            <div class="content-popup">
                <div class="operations-modal">
                    <div class="info deposit">
                        <div class="title">
                            Send only {{currentToken.code}} to this deposit address.
                        </div>
                        <div class="text">
                            Sending coin or token other than {{currentToken.code}} to this address may result in the loss of your deposit.
                        </div>
                    </div>
                    <div class="address-wrapper">
                        <div class="info">
                            <div class="title">
                                {{currentToken.code}} Address
                            </div>
                            <div class="address" [ngClass]="{'load': !address}">
                                {{address}}
                                <span [text-copy]="address">
                                    <i class="far fa-clone icon copy"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <app-crypto-qr [code]="currentToken.code" [address]="address"></app-crypto-qr>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>

<modal id="prepare-transaction">
    <div class="modal">
        <div class="modal-body">
            <div class="head-popup">
                Prepare transaction
                <div class="close" (click)="modalService.close('prepare-transaction');">
                    <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path fill-rule="evenodd" d="M.458.404c.582-.565 1.54-.524 2.123.04l9.406 9.485L21.435.444c.583-.564 1.54-.605 2.123-.04.582.565.582 1.453.041 2.058l-9.531 9.526 9.531 9.565c.541.565.541 1.494-.041 2.059-.582.524-1.54.524-2.123-.04l-9.448-9.486-9.406 9.485c-.583.565-1.54.565-2.123.04-.582-.564-.624-1.493-.041-2.058l9.531-9.565L.417 2.462C-.166 1.857-.124.97.458.404z"></path></svg>
                </div>
            </div>
            <div class="content-popup">
                <div class="operations-modal">
                    <div class="info deposit">
                        <!--<div class="title">-->
                        <!--Prepare transaction-->
                        <!--</div>-->
                        <div class="text">
                            {{ description }}
                        </div>
                    </div>
                    <div class="address-wrapper">
                        <div class="info">
                            <div class="title">
                                Transaction id
                            </div>
                            <div class="address tx" [ngClass]="{'load': !txId}">
                                <span class="tx-id">{{txId}}</span>
                                <span [text-copy]="txId">
                                    <svg class="icon copy" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15 5V4C15 2.89543 14.1046 2 13 2H4C2.89543 2 2 2.89543 2 4V13C2 14.1046 2.89543 15 4 15H5M11 22H20C21.1046 22 22 21.1046 22 20V11C22 9.89543 21.1046 9 20 9H11C9.89543 9 9 9.89543 9 11V20C9 21.1046 9.89543 22 11 22Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </div>
                    <a target="_blank" [href]="'http://cosmic.link/?xdr=' + txId"
                       class="button-next external-link">
                        <span>Sign</span>
                        <img class="external-icon" src="./../../../assets/img/external-link.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-background"></div>
</modal>
