@import "../../stylesheets/tools/media";

.qr-code {
  width: 100%;
  display: flex;
  justify-content: center;

  img {
    width: 180px;
    height: 180px;
    object-fit: cover;
  }
}

@include mobile {
  .qr-code {
    margin-left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}


