@import "../../stylesheets/tools/media";
@import "../../stylesheets/button";

.container {
  margin-top: 5px;
  margin-left: 2px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  width: 710px;
  padding: 21px;

  .title-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 52px;
    margin-bottom: 40px;

    .title {
      color: rgb(57, 66, 71);
      font-size: 30px;
      font-weight: 700;
    }

    .back {

    }
  }

  .recipient-address {
    position: relative;
    width: 100%;
    font-size: 19px;

    ::ng-deep .mat-form-field {
      .mat-input-element {
        color: #000;
        caret-color: #000;
        font-size: 22px;

      }
      .mat-form-field-label {
        color: #000;
      }
      .mat-form-field-underline {
        background-color: transparent;
      }
      .mat-form-field-ripple {
        background-color: #eeeeee;
      }
      .mat-form-field-required-marker {
        color: #fff;
      }
    }

    .error {
      position: absolute;
      color: red;
      bottom: -5px;
    }
  }

  .button-next {
    margin-top: 30px;
    max-width: 432px;
  }

  @include mobile {
    flex-wrap: wrap;
    margin: 0;
    width: 100vw;
    padding: 0 0 21px;

    .title-row {
      padding: 21px 0;

      .title {
        font-size: 24px;
        margin-left: 71px;
      }

      .button-back {
        margin-right: 10px;
      }
    }

    .recipient-address {
      width: 92%;
      margin: 30px 2.5% 0;
    }

    .button-next {
      margin: 30px 4% 0;
      width: 92%;
    }
  }
}