<div class="container">
    <div class="title-row">
        <div class="title">
            Enter address
        </div>
        <button
                (click)="changeStep(1)"
                mat-raised-button
                class="button-back">
            Back
        </button>
    </div>
    <form (ngSubmit)="changeStep(3)">
        <div class="recipient-address">
            <mat-form-field class="recipient-address" appearance="legacy">
                <mat-label>Recipient address</mat-label>
                <input matInput [value]="exchange.addressOut" (keyup)="onKeyUp($event)" placeholder="Enter your {{exchange.currencyOut.code}} address">
            </mat-form-field>
            <div *ngIf="this.addressOut && !isAddressValid">
                <span class="error">Invalid address</span>
            </div>
        </div>
        <button
                [disabled]="!canContinue"
                mat-raised-button
                class="button-next">
            Next step
        </button>
    </form>
</div>

