<div class="container">
    <div class="title-row">
        <div class="title">
            Enter address
        </div>
        <button
                (click)="changeStep(1)"
                mat-raised-button
                class="button-back">
            Back
        </button>
    </div>
    <form (ngSubmit)="changeStep(3)">
        <div>
            <p class="details">Provide your {{ exchange.currencyOut.code }}{{ exchange.currencyOut.code !== 'XLM' ? ' or Stellar' : ''}} address</p>
            <mat-form-field class="recipient-address" appearance="legacy">
                <mat-label>Recipient address</mat-label>
                <input #address matInput [value]="exchange.addressOut" (keyup)="onKeyUp($event)" placeholder="Enter your {{exchange.currencyOut.code}} address">
            </mat-form-field>
            <div *ngIf="this.addressOut && !isAddressValid">
                <span class="error">{{ errorMessage }}</span>
            </div>
        </div>
        <button
                mat-raised-button
                class="button-next">
            <div *ngIf="loading"  class="spinner processing"></div>
            Next step
        </button>
    </form>
</div>

