<notification-message></notification-message>

<div *ngIf="this.step <= 5" class="steps-wrapper">
    <div class="step" [ngClass]="{'done': this.step > 1, 'active': this.step === 1}">
        <div class="icon-wrapper">
            1
        <i class="fas fa-check check"></i>
        </div>
        <div *ngIf="this.step !== 1" class="title">
            Enter amount
        </div>
        <div [hidden]="this.step !== 1">
            <app-enter-amount></app-enter-amount>
        </div>
    </div>
    <div class="step" [ngClass]="{'done': this.step > 2, 'active': this.step === 2}">
        <div class="icon-wrapper">
            2
        <i class="fas fa-check check"></i>
        </div>
        <div *ngIf="this.step !== 2" class="title">
            Enter address
        </div>
        <div [hidden]="this.step !== 2">
            <app-enter-address></app-enter-address>
        </div>
    </div>
    <div class="step" [ngClass]="{'done': this.step > 3, 'active': this.step === 3}">
        <div class="icon-wrapper">
            3
        <i class="fas fa-check check"></i>
        </div>
        <div *ngIf="this.step !== 3" class="title">
            Check details
        </div>
        <div [hidden]="this.step !== 3">
            <app-check-details></app-check-details>
        </div>
    </div>
    <div class="step" [ngClass]="{'done': this.step > 4, 'active': this.step === 4}">
        <div class="icon-wrapper">
            4
        <i class="fas fa-check check"></i>
        </div>
        <div *ngIf="this.step !== 4" class="title">
            Send your funds
        </div>
        <div [hidden]="this.step !== 4">
            <app-send-funds></app-send-funds>
        </div>
    </div>
    <div class="step" [ngClass]="{'done': this.step > 5, 'active': this.step === 5}">
        <div class="icon-wrapper">
            5
            <i class="fas fa-check check"></i>
        </div>
        <div *ngIf="this.step !== 5" class="title">
            Wait for the exchange
        </div>
        <div *ngIf="this.step === 5">
            <app-wait-exchange-tmp></app-wait-exchange-tmp>
        </div>
    </div>
</div>

<div *ngIf="this.step > 5">
    <app-tx-complete></app-tx-complete>
</div>
