<div class="content">
    <div class="wrapper-content">
        <div class="container">
            <div class="currency-info-block">
                <div class="select-currency">
                    <mat-form-field>
                        <mat-select [formControl]="tokenCtrl" placeholder="Token" #searchInput>
                            <mat-select-search [formControl]="tokenFilterCtr"></mat-select-search>
                            <mat-option *ngFor="let token of filteredTokens | async" (click)="selectToken(token)" [value]="token">
                                {{token.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="left">
                    <mat-form-field class="search-currency">
                        <input matInput  placeholder="Search" value="" [formControl]="tokenFilterCtr" #searchInputDesktop>
                    </mat-form-field>
                    <div class="token-list">
                        <div *ngIf="!arraySearchValue.length" class="left-empty-state">
                            <div class="text">
                                We couldn’t find any token that match <span class="bold">'{{tokenFilterCtr.value}}'</span> in the network
                                <div class="reset" (click)="clearFilter()">
                                    Reset results
                                </div>
                            </div>
                        </div>
                        <div *ngIf="arraySearchValue.length">
                            <div class="token" *ngFor="let item of arraySearchValue" [ngClass]="{'active': selectedToken && selectedToken.code === item.code}" (click)="selectToken(item)">
                                <div class="wrapper-icon">
                                    <img class="icon" [src]="item.image" [ngClass]="item.code" alt="">
                                </div>
                                <div class="name">
                                    {{item.name}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="!selectedToken" class="right-empty-state">
                    At the moment we support following assets, choose the one you're interested in

                </div>
                <div *ngIf="selectedToken && selectedToken.code && selectedToken.issuer && currentComponent === 'deposit'" class="right">
                    <div class="title">
                      <h1>How to Deposit</h1>
                    </div>

                    <div class="description">
                        Submit Stellar account you want to link
                    </div>

                    <div class="quote" *ngIf="selectedToken.deposit.min_amount !== ''">
                        Attention! Minimum deposit is {{selectedToken.deposit.min_amount}} {{selectedToken.code}}. Any funds below that are ignored.
                    </div>

                    <div class="stellar-block">
                        <mat-form-field class="stellar-address">
                            <input matInput [(ngModel)]="stellarAddress" placeholder="Stellar address" value="">
                        </mat-form-field>

                        <mat-form-field class="type">
                            <mat-label>Memo type</mat-label>
                            <mat-select [(ngModel)]="selectedMemoType">
                                <mat-option *ngFor="let type of memoTypes" [value]="type.value">
                                    {{type.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="memo">
                            <input matInput [(ngModel)]="memoValue" [disabled]="selectedMemoType === 'none'" placeholder="Memo (optional)" value="">
                        </mat-form-field>

                        <div class="button-blue" (click)="getAddress()">
                            <div class="text">
                                <div *ngIf="loading" class=" icon spinner small"></div>
                                Get {{selectedToken.code}} address
                            </div>
                        </div>

                        <div class="error" *ngIf="errorMessage.length">
                            {{errorMessage}}
                        </div>
                    </div>
                </div>

                <div *ngIf="selectedToken && selectedToken.code && selectedToken.issuer && currentComponent === 'withdraw'" class="right">
                    <div class="title">
                        How to Withdraw
                    </div>

                    <div class="quote" *ngIf="selectedToken.withdraw.min_amount">
                        Attention! Minimum withdrawal is {{selectedToken.withdraw.min_amount}} {{selectedToken.code}}. Any funds below that are ignored.<br>
                        Withdrawal fee {{selectedToken.withdraw.fee}} applies to every transaction<br>
                    </div>

                    <div class="stellar-block">
                        <mat-form-field class="stellar-address">
                            <input matInput [formControl]="tokenWithdraw" placeholder="Your {{selectedToken.code}} address" value="">
                        </mat-form-field>
                    </div>

                    <div class="description">
                        Send assets to
                        <span class="bold">
                            <span *ngIf="!tokenWithdraw.value">
                                YourAddress
                            </span>{{tokenWithdraw.value}}*apay.io
                        </span>
                        and we will automatically withdraw it to
                        <span class="bold">
                            <span *ngIf="!tokenWithdraw.value">
                                YourAddress
                            </span>
                            {{tokenWithdraw.value}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<modal id="deposit">
  <div class="modal" *ngIf="selectedToken">
    <div class="modal-body">
      <div class="head-popup">
        Deposit
        <div class="close" (click)="modalService.close('deposit');">
          <i class="fas fa-times icon-close"></i>
        </div>
      </div>
      <div class="content-popup">
        <div class="operations-modal">
          <div class="info deposit">
            <div class="title">
              Send only {{selectedToken.code}} to this deposit address.
            </div>
            <div class="text">
              Sending coin or token other than {{selectedToken.code}} to this address may result in the loss of your deposit.
            </div>
          </div>
          <div class="info deposit" *ngIf="fundingFee">
            <div class="title">
              Your Stellar account doesn't exist yet
            </div>
            <div class="text">
              Once you make a deposit we will automatically fund your account with 3.01 XLM, but after that you will have to come back here to establish a trustline before you can receive your funds.
            </div>
          </div>
          <div class="address-wrapper">
            <div class="info">
              <div class="title">
                {{selectedToken.code}} Address
              </div>
              <div class="address" [ngClass]="{'load': !depositAddress}">
                {{depositAddress}}
                <span [text-copy]="depositAddress">
                    <i class="far fa-clone icon copy"></i>
                </span>
              </div>
            </div>
          </div>
          <app-crypto-qr [code]="selectedToken.code" [address]="depositAddress"></app-crypto-qr>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>

<modal id="trustline">
  <div class="modal" *ngIf="selectedToken">
    <div class="modal-body">
      <div class="head-popup">
        Establish trustline
        <div class="close" (click)="modalService.close('trustline');">
          <i class="fas fa-times icon-close"></i>
        </div>
      </div>
      <div class="content-popup">
        <div class="operations-modal">
          <div class="info deposit">
            <div class="text">
              Add trustline for asset {{ selectedToken.code }} to {{ selectedToken.issuer }}
            </div>
          </div>
          <div class="address-wrapper">
            <div class="info">
              <div class="title">
                Transaction
              </div>
              <div class="address tx" [ngClass]="{'load': !xdr}">
                <span class="tx-id">{{xdr}}</span>
                <span [text-copy]="xdr">
                    <i class="far fa-clone icon copy" aria-hidden="true"></i>
                </span>
              </div>
            </div>
          </div>
          <a target="_blank" [href]="'http://cosmic.link/?xdr=' + xdr + '&network=public'"
             class="button-next external-link" style="width: auto;">
            <span>Sign</span>
            <i class="fas fa-external-link-alt external-icon"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
