@import "../../stylesheets/tools/media";
@import "../../stylesheets/button";
@import "../../stylesheets/modals";

.content {
  background: #eeeeee;

  .wrapper-content {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #eeeeee;

    .container {
      position: relative;
      width: 100%;
      max-width: 1167px;
      margin-top: 30px;
      margin-bottom: 120px;

      .head-block {
        width: 100%;
        height: 56px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background: #0f59d1;
        display: flex;
        box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);
        align-items: center;

        .title {
          width: 70%;
          color: #fff;
          text-align: center;
        }
      }

      .currency-info-block {
        width: 100%;
        display: flex;

        .select-currency {
          display: none;
          width: 100%;
          height: 55px;
          background: #fff;
          border-bottom: 1px solid #eee;
        }

        .left {
          margin-right: 20px;
          width: 30%;
          display: flex;
          flex-direction: column;
          max-height: 250px;
          border-right: 1px solid #eee;
          background: #fff;
          border-radius: 8px;
          box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);

          .search-currency {
            width: 93%;
            height: 45px;
            background: transparent;
            color: #000;
            padding: 0 8px 0 14px;
          }

          ::ng-deep .mat-form-field {
            .mat-input-element {
              color: #000;
              caret-color: #000;

            }
            .mat-form-field-label {
              color: #000;
            }
            .mat-form-field-underline {
              background-color: transparent;
            }
            .mat-form-field-ripple {
              background-color: transparent;
            }
            .mat-form-field-required-marker {
              color: #fff;
            }
          }

          .token-list {
            margin-right: 4px;
            padding-top: 10px;
            overflow: auto;

            .left-empty-state {
              max-height: 250px;
              background: #fff;

              .text {
                font-size: 18px;
                padding: 15px;

                .bold {
                  font-weight: bold;
                }

                .reset {
                  margin-top: 10px;
                  color: rgb(15, 89, 209);
                  cursor: pointer;
                  font-weight: 500;
                }
              }
            }

            .token {
              padding: 6px 15px;
              display: flex;
              align-items: center;
              transition: .3s;
              cursor: pointer;

              .wrapper-icon {
                width: 46px;
                height: 36px;
                display: flex;
                align-items: center;

                .icon {
                  width: 30px;
                  height: 30px;
                  object-fit: contain;

                  &.MTL, &.BCH, &.XLM {
                    height: 36px;
                    width: 36px;
                    margin-left: -3px;
                  }

                  &.BAT {
                    position: relative;
                  }

                  &.REP {
                    width: 44px;
                    margin-left: -7px;
                    margin-right: -6px;
                    object-fit: cover;
                    object-position: top;
                  }
                }
              }

              .name {
                margin-left: 10px;
                font-size: 18px;
              }

              &:hover {
                background: #eeeeee;
              }

              &.active {
                background: #eeeeee;
              }
            }
          }

          ::-webkit-scrollbar {
            width: 3px; height: 3px;
          }

          ::-webkit-scrollbar-track-piece {
            background-color: #fff;
          }

          ::-webkit-scrollbar-thumb {
            height: 50px; background-color: #666; border-radius: 3px;
          }

        }

        .right-empty-state {
          padding: 10px;
          margin: 0 -10px -10px 0;
          width: 64%;
          height: 100%;
          min-height: 422px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 17px;
          color: #000;
          background: #fff;
          border-radius: 8px;
          box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);
        }

        .right {
          width: 65%;
          height: 100%;
          min-height: 260px;
          padding: 18px;
          background: #fff;
          border-radius: 8px;
          box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);

          .title {
            margin-bottom: 10px;
            font-size: 18px;
            color: #000;
          }

          .description {
            margin-bottom: 10px;
            font-size: 16px;
            color: #000;
            line-height: 1.5;

            .bold {
              font-weight: bold;
            }
          }

          .quote {
            position: relative;
            margin-bottom: 10px;
            font-size: 16px;
            font-style: italic;
            color: red;
            padding: 10px 0;

            &::before {
              content: "";
              width: 2px;
              height: 100%;
              background: red;
              position: absolute;
              left: -11px;
              top: -1px;
            }
          }

          .stellar-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .stellar-address {
              width: 100%;
            }

            .memo, .type {
              margin-bottom: 10px;
            }

            .type {
              width: 25%;
            }

            .memo {
              width: 74%;
            }

            .error {
              font-size: 18px;
              color: red;
            }
          }
        }
      }
    }
  }

  @include mobile {
    margin-bottom: 50px;

    .bold {
      word-break: break-all;
    }

    .wrapper-content {
      .container {
        .currency-info-block {
          flex-wrap: wrap;
          box-shadow: 0 3px 14px 2px rgba(0, 0, 0, 0.12);

          .select-currency {
            display: block;
            padding: 10px 18px;
          }

          ::ng-deep .mat-form-field {
            .mat-input-element {
              color: #000;
              caret-color: #a6a6a6;

            }
            .mat-form-field-label {
              color: #a6a6a6;
            }
            .mat-form-field-underline {
              background-color: transparent;
            }
            .mat-form-field-ripple {
              background-color: transparent;
            }
            .mat-form-field-required-marker {
              color: #fff;
            }
          }

          ::ng-deep .mat-form-field-infix{
            width: 100px;
          }

          .left {
            display: none;
          }

          .right-empty-state {
            margin: 0;
            width: 100%;
            min-height: 122px;
            border-radius: 0;
            padding: 18px;
            box-shadow: none;
          }

          .right {
            width: 100%;
            border-radius: 0;
            box-shadow: none;

            .quote {
              padding: 5px 0;
            }

            .stellar-block {
              .type {
                width: 100%;
              }

              .memo {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.button-blue {
  .text {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: initial;

    .icon {
      position: absolute;
      left: -25px;
    }
  }
}
