@import "./stylesheets/modals.scss";
@import "./stylesheets/tools/media.scss";

.header {
  background: rgb(15, 89, 209);
  display: flex;
  justify-content: center;
  width: 100%;

  .content {
    width: 100%;
    max-width: 1140px;
    background: #0f59d1;

    .menu-row {
      padding: 0 15px;
      height: 72px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        opacity: 0.7;
        transition: 0.3s;
        font-size: 25px;
        font-weight: 600;

        &:hover {
          opacity: 1;
        }
      }

      .tabs-menu {
        display: flex;
        align-items: center;

        .tab {
          outline: none;
          cursor: pointer;
          display: flex;
          opacity: 0.6;
          transition: 0.3s;

          .icon {
            width: 17px;
            height: 17px;
            object-fit: contain;
            margin-right: 8px;
          }

          .text {
            color: #fff;
          }

          &:hover {
            opacity: 1;
          }

          &.active {
            opacity: 1;
          }
        }
      }

      .profile-info {
        display: flex;
        align-items: center;

        .button-sign-in {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          line-height: normal;
          border: 1px solid rgb(255, 255, 255);
          padding: 4px 8px;
          border-radius: 8px;
          color: rgb(255, 255, 255);
          font-weight: 500;
          margin-right: 0;
          cursor: pointer;
        }
      }
    }
  }

  @include mobile {
    .content {
      .menu-row {
        .logo {
          margin-left: 20px;
          margin-bottom: 10px;
          opacity: 1;
        }
        .tabs-menu {
          .tab {
            opacity: 1;
            display: none;

            .icon {
              display: none
            }

            &.active {
              display: block;
            }
          }
        }

        .profile-info {
          margin-right: 20px;
        }
      }
    }
  }
}


.footer {
  position: fixed;
  z-index: 102;
  background: #fff;
  padding: 8px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.04) 0px -1px 2px 0px, rgb(238, 238, 238) 0px 1px 0px 0px inset;

  .tab-footer {
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    filter: grayscale(100%);
    opacity: 0.7;

    .icon-footer {
      width: 24px;
      height: 24px;
      margin-bottom: 4px;
      fill: rgb(15, 89, 209);
    }

    .title-bar-footer {
      font-size: 12px;
      color: rgb(15, 89, 209);
    }

    &.active {
      opacity: 1;
      filter: grayscale(0);
    }
  }

  @include notMobile {
    display: none;
  }
}