@import "../../stylesheets/tools/media";

.wrapper {
  display: flex;
  cursor: pointer;

  .wrapper-icon {
    background-color: #fff;
    height: 48px;
    width: 48px;
    padding: 1px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      background-color: #fff;
      height: 100%;
      width: 100%;
      background-size: cover;
      flex-shrink: 0;
      cursor: pointer;

      &.XLM {
        height: 56px;
        width: 56px;
        padding: 0;
      }

      &.BAT {
        width: 37px;
      }

      &.REP {
        height: 51px;
        width: 67px;
        object-fit: cover;
        object-position: top;
      }

      &.SALT {
        width: 32px;
        margin-top: -8px;
      }
    }
  }

  .info-currency {
    min-width: 60px;
    margin: 0 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .text {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: visible;
      line-height: normal;
      font-size: 12px;
      font-weight: 600;
      color: rgb(151, 151, 151);
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      text-transform: uppercase;
    }

    .currency {
      contain: #000;
      font-weight: 600;

      .icon-arrow {
        font-size: 15px;
        display: inline-flex;
        position: relative;
        padding-left: 3px;
        color: rgb(0, 0, 0);
      }
    }
  }
}
