@import "../../stylesheets/tools/media";

.content {
  background: #eeeeee;

  .sticky {
    position: sticky;
    top: 0;
    z-index: 102;
  }

  .create-wallet {
    height: 262px;
    background: #2196F3;

    .title {
      color: #fff;
      text-align: center;
      padding-top: 48px;
      font-size: 32px;
      margin-bottom: 10px;
    }

    .description {
      color: #fff;
      text-align: center;
      margin-top: 18px;
      margin-bottom: 42px;
      font-weight: normal;
      font-size: 18px;
    }

    .button-create {
      transition: 0.3s;
      position: relative;
      display: flex;
      align-items: center;
      padding: 8px 16px;
      height: 30px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      border-radius: 8px;
      background: rgb(255, 255, 255);
      border: 1px solid rgb(223, 223, 223);
      width: 142px;
      margin-top: 0px;
      margin-right: auto;
      margin-left: auto;
      color: #2196F3;

      &:hover {
        background: rgb(238, 238, 238);;
      }

      .text {
        font-weight: 700;
        display: flex;
        align-items: center;
        margin: 0px auto;
        color: #2196F3;
      }
    }
  }

  .wrapper-content {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #eeeeee;

    .container {
      position: relative;
      width: 100%;
      max-width: 1167px;
      margin-top: 30px;
      margin-bottom: 120px;
    }
  }

  @include mobile {
    margin-bottom: 50px;

    .create-wallet {
      height: 242px;
    }

    .wrapper-content {
      display: none;
    }
  }
}
