<div class="content">
    <div class="create-wallet" *ngIf="!appComponent.loginFlag">
        <div class="title">
            Exchange crypto
        </div>
        <div class="description">
            Using Stellar Decentralized Exchange
        </div>
        <div class="button-create" (click)="appComponent.loginServices.open()">
            <div class="text">
                Sign in
            </div>
        </div>
    </div>
    <app-converter></app-converter>
    <div class="wrapper-content">
        <div class="container">
            <app-table></app-table>
        </div>
    </div>
</div>
