<div class="login" *ngIf="loginServices.login | async">
    <div class="modal">
        <div class="modal-body">
            <div class="head-popup">
                Authorization
                <div class="back" *ngIf="step !== 'choose'" (click)="clear()">
                    <svg class="icon-back" width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                        <path d="M4.99994 11.9997L12 19M4.99994 11.9997L12 5.00001M4.99994 11.9997L19 11.9997" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="close" (click)="closeModal()">
                    <svg class="icon-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-radium="true" style="pointer-events: none; fill: currentcolor; width: 1em; height: 1em;"><path fill-rule="evenodd" d="M.458.404c.582-.565 1.54-.524 2.123.04l9.406 9.485L21.435.444c.583-.564 1.54-.605 2.123-.04.582.565.582 1.453.041 2.058l-9.531 9.526 9.531 9.565c.541.565.541 1.494-.041 2.059-.582.524-1.54.524-2.123-.04l-9.448-9.486-9.406 9.485c-.583.565-1.54.565-2.123.04-.582-.564-.624-1.493-.041-2.058l9.531-9.565L.417 2.462C-.166 1.857-.124.97.458.404z"></path></svg>
                </div>
            </div>

            <div *ngIf="step === 'choose'" class="content">
                <div class="title">
                    How would you like to access your wallet?
                </div>

                <div class="access-wallet-list">
                    <div class="item" (click)="stepAddress()">
                        <div class="title-row">
                            <div class="text">
                                View address
                            </div>
                        </div>
                        <div class="description">
                            View your account & balances using only your address
                        </div>
                    </div>
                    <div class="item" (click)="stepLedger()">
                        <div class="title-row">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.90 20.03">
                                <g>
                                    <path id="Shape" d="M16.7,0H7.59V12.29h12.3V3.18A3.18,3.18,0,0,0,16.7,0Z" style="fill: #142533"/>
                                    <path d="M4.75,0H3.18A3.18,3.18,0,0,0,0,3.18V4.75H4.75Z" style="fill: #142533"/>
                                    <polygon id="Rectangle-path" points="0 7.59 4.75 7.59 4.75 12.34 0 12.34 0 7.59" style="fill: #142533"/>
                                    <path d="M15.18,19.89h1.57a3.18,3.18,0,0,0,3.18-3.19V15.18H15.18Z" style="fill: #142533"/>
                                    <polygon points="7.59 15.18 12.34 15.18 12.34 19.93 7.59 19.93 7.59 15.18" style="fill: #142533"/>
                                    <path d="M0,15.18v1.57a3.18,3.18,0,0,0,3.18,3.18H4.75V15.18Z" style="fill: #142533"/>
                                </g>
                            </svg>
                            <div class="text">
                                Ledger
                            </div>
                        </div>
                        <div class="description">
                            Connect & sign via your hardware wallet
                        </div>
                    </div>
                    <div class="item" (click)="stepTresor()">
                        <div class="title-row">
                            <img class="icon" src="./../../../assets/img/trezor.png" alt="">
                            <div class="text">
                                TREZOR
                            </div>
                        </div>
                        <div class="description">
                            Connect & sign via your hardware wallet
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="step === 'login-nickname-address'" class="content">
                <div class="login-wrapper">
                    <mat-form-field class="input" appearance="legacy">
                        <mat-label>Nickname or Address</mat-label>
                        <input matInput #address placeholder="Nickname, federated or raw address">
                    </mat-form-field>
                    <div class="error-msg" *ngIf="!isAddressValid">Invalid address</div>
                </div>
                <button
                        mat-raised-button
                        class="button-next"
                        [ngClass]="{'load' : loading}"
                        (click)="login(address.value)">
                    <svg *ngIf="loading" class="icon" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="16px" height="16px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                      <path fill="#fff" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                        <animateTransform attributeType="xml"
                                          attributeName="transform"
                                          type="rotate"
                                          from="0 25 25"
                                          to="360 25 25"
                                          dur="0.6s"
                                          repeatCount="indefinite"/>
                        </path>
                    </svg>
                    login
                </button>
            </div>

            <div *ngIf="step === 'login-ledger'" class="content">
                <div class="login-wrapper">
                    <div class="info">
                        <div class="title-row">
                            <svg class="icon" class.bind="computedIconClasses"  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="#0f59d1" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path></svg>

                            <div class="text">
                                Login With Ledger
                            </div>
                        </div>
                        <div class="description">
                            Make sure your Ledger is Connected, the Stellar app open and that browser support is enabled. Then, click the 'Connect' button below.
                        </div>
                    </div>
                </div>

                <button
                        mat-raised-button
                        class="button-next">
                    Connect Ledger
                </button>
            </div>

            <div *ngIf="step === 'login-trezor'" class="content">
                <div class="login-wrapper">
                    <div class="info">
                        <div class="title-row">
                            <svg class="icon" class.bind="computedIconClasses"  aria-hidden="true" focusable="false" data-prefix="fas" data-icon="info-circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="#0f59d1" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z"></path></svg>

                            <div class="text">
                                Login With Trezor
                            </div>
                        </div>
                        <div class="description">
                            Make sure your Trezor is Connected and enter a bip 32 path below. If you don't know what a bip 32 path is, just leave it set to the default value. When you are ready, click the check mark button below and your Stellar public address will be obtained from your trezor device. Then, click "Login". Note: Requires Trezor Bridge and Trezor One (with firmware 1.8.0+) or Trezor Model T (with firmware 2.1.0+).
                        </div>
                    </div>

                    <mat-form-field class="input" appearance="legacy">
                        <mat-label>Enter BIP32 path or leave as default</mat-label>
                        <input matInput #trezor value="44'/148'/0'">
                    </mat-form-field>
                    <button
                            mat-raised-button
                            class="button-next">
                        login
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-background" (click)="closeModal()"></div>
    </div>
</div>




