<div class="login" *ngIf="modalInfo?.state && modalInfo?.name === 'login'">
    <div class="modal">
        <div class="modal-body">
            <div class="head-popup">
                Authorization
                <div class="back" *ngIf="step !== 'choose'" (click)="clear()">
                    <i class="fas fa-arrow-left icon-back"></i>
                </div>
                <div class="close" (click)="closeModal()">
                    <i class="fas fa-times icon-close"></i>
                </div>
            </div>

            <div *ngIf="step === 'choose'" class="content">
                <div class="title">
                    How would you like to access your wallet?
                </div>

                <div class="access-wallet-list">
                    <div class="item" (click)="stepAddress()">
                        <div class="title-row">
                            <div class="text">
                                View address
                            </div>
                        </div>
                        <div class="description">
                            View your account & balances using only your address
                        </div>
                    </div>
                    <div class="item" (click)="stepLedger()">
                        <div class="title-row">
                            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.90 20.03">
                                <g>
                                    <path id="Shape" d="M16.7,0H7.59V12.29h12.3V3.18A3.18,3.18,0,0,0,16.7,0Z" style="fill: #142533"/>
                                    <path d="M4.75,0H3.18A3.18,3.18,0,0,0,0,3.18V4.75H4.75Z" style="fill: #142533"/>
                                    <polygon id="Rectangle-path" points="0 7.59 4.75 7.59 4.75 12.34 0 12.34 0 7.59" style="fill: #142533"/>
                                    <path d="M15.18,19.89h1.57a3.18,3.18,0,0,0,3.18-3.19V15.18H15.18Z" style="fill: #142533"/>
                                    <polygon points="7.59 15.18 12.34 15.18 12.34 19.93 7.59 19.93 7.59 15.18" style="fill: #142533"/>
                                    <path d="M0,15.18v1.57a3.18,3.18,0,0,0,3.18,3.18H4.75V15.18Z" style="fill: #142533"/>
                                </g>
                            </svg>
                            <div class="text">
                                Ledger
                            </div>
                        </div>
                        <div class="description">
                            Connect & sign via your hardware wallet
                        </div>
                    </div>
                    <div class="item" (click)="stepTresor()">
                        <div class="title-row">
                            <img class="icon" src="./../../../assets/img/trezor.png" alt="">
                            <div class="text">
                                TREZOR
                            </div>
                        </div>
                        <div class="description">
                            Connect & sign via your hardware wallet
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="step === 'login-nickname-address'" class="content">
                <div class="login-wrapper">
                    <mat-form-field class="input" appearance="legacy">
                        <mat-label>Nickname or Address</mat-label>
                        <input matInput #address placeholder="Nickname, federated or raw address">
                    </mat-form-field>
                    <div class="error-msg" *ngIf="!isAddressValid">Invalid address</div>
                </div>
                <button
                        mat-raised-button
                        class="button-next"
                        [ngClass]="{'load' : loading}"
                        (click)="login(address.value)">
                    <div *ngIf="loading" class=" icon spinner small"></div>
                    login
                </button>
            </div>

            <div *ngIf="step === 'login-ledger'" class="content">
                <div class="login-wrapper">
                    <div class="info">
                        <div class="title-row">
                            <i class="fas fa-info-circle icon"></i>
                            <div class="text">
                                Login With Ledger
                            </div>
                        </div>
                        <div class="description">
                            Make sure your Ledger is connected, the Stellar app open and that browser support is enabled. Then, click the 'Connect Ledger' button below.
                        </div>
                    </div>

                    <mat-form-field class="input" appearance="legacy">
                        <mat-label>Enter BIP32 path or leave as default</mat-label>
                        <input matInput [ngModel]="bip32Path" (keyup)="updateLedgerAddress($event)">
                    </mat-form-field>
                    <span class="address">{{ ledgerAddress }}</span>
                </div>

                <button
                        mat-raised-button
                        class="button-next"
                        [disabled]="!ledgerAddress"
                        [ngClass]="{'load' : loading, 'disabled': !ledgerAddress}"
                        (click)="login(ledgerAddress)">
                  <div *ngIf="loading" class=" icon spinner small"></div>
                    Connect Ledger
                </button>
            </div>

            <div *ngIf="step === 'login-trezor'" class="content">
                <div class="login-wrapper">
                    <div class="info">
                        <div class="title-row">
                            <i class="fas fa-info-circle icon"></i>
                            <div class="text">
                                Login With Trezor
                            </div>
                        </div>
                        <div class="description">
                            Make sure your Trezor is connected, click "Login" and allow Trezor to share the account address. Note: Requires Trezor Bridge and Trezor One (with firmware 1.8.0+) or Trezor Model T (with firmware 2.1.0+).
                        </div>
                    </div>

                    <mat-form-field class="input" appearance="legacy">
                        <mat-label>Enter BIP32 path or leave as default</mat-label>
                        <input matInput #trezor value="44'/148'/0'">
                    </mat-form-field>
                    <button
                            mat-raised-button
                            class="button-next"
                            [ngClass]="{'load' : loading}"
                            (click)="loginTrezor(trezor.value)">
                      <div *ngIf="loading" class=" icon spinner small"></div>
                        Login
                    </button>
                </div>
            </div>
        </div>
        <div class="modal-background" (click)="closeModal()"></div>
    </div>
</div>




