<div class="container">
    <div class="enter-amount">
        <div class="title">
            Enter amount
        </div>
        <div class="convert-processing">
            <form [formGroup]="amountForm" (ngSubmit)="changeStep(2)">
                <app-converter [isProcessingConverter]="true" [amountFormConverter]="amountForm.controls.converter"></app-converter>
<!--                <div class="agreement-checkbox">-->
<!--                    <mat-checkbox formControlName="agreement" >I agree with Terms of Use, Privacy Policy and AML/KYC</mat-checkbox>-->
<!--                </div>-->
                <button
                        [disabled]="!amountForm.valid"
                        mat-raised-button
                        class="button-next">
                    Next step
                </button>
            </form>
        </div>
    </div>
    <div class="details">
        <div class="title">
            Details
        </div>
        <div class="title-details" *ngIf="orderParams.rate">
            Expected exchange rate
        </div>
        <div class="description-details" *ngIf="orderParams.rate">
            1 {{ orderParams.currencyIn.code }} = {{ orderParams.rate.toPrecision(6)|number:'1.0-8' }} {{ orderParams.currencyOut.code }}<br/>
            1 {{ orderParams.currencyOut.code }} = {{ (1/orderParams.rate).toPrecision(6)|number:'1.0-8' }} {{ orderParams.currencyIn.code }}
        </div>
        <div class="title-details">
            Exchange fee
        </div>
        <div class="description-details">
            0%
        </div>
        <div class="title-details">
            Network / withdrawal fee
        </div>
        <div class="description-details">
            {{ orderParams.networkFee }}
        </div>
    </div>
</div>

