<div class="container">
    <div class="enter-amount">
        <div class="title">
            Enter amount
        </div>
        <div class="convert-processing">
            <form (ngSubmit)="changeStep(2)">
                <div app-converter [isProcessingConverter]="true" (outFlagLoader)="isLoading($event)"></div>
<!--                <div class="agreement-checkbox">-->
<!--                    <mat-checkbox formControlName="agreement" >I agree with Terms of Use, Privacy Policy and AML/KYC</mat-checkbox>-->
<!--                </div>-->
                <button
                        (click)="changeStep(2)"
                        [disabled]="!canContinue"
                        mat-raised-button
                        class="button-next step-1">
                    <div *ngIf="loading"  class="spinner processing"></div>
                    Next step
                </button>
            </form>
        </div>
    </div>
    <div class="details">
        <div class="title">
            Details
        </div>
        <div class="title-details" *ngIf="rate">
            Expected exchange rate
        </div>
        <div class="description-details" *ngIf="rate">
            1 {{ exchange.currencyIn.code }} = {{ rate.toPrecision(6)|number:'1.0-8' }} {{ exchange.currencyOut.code }}<br/>
            1 {{ exchange.currencyOut.code }} = {{ (1/rate).toPrecision(6)|number:'1.0-8' }} {{ exchange.currencyIn.code }}
        </div>
        <div class="title-details">
            Exchange fee
        </div>
        <div class="description-details">
            0.5%
        </div>
        <div class="title-details">
            Network / withdrawal fee
        </div>
        <div class="description-details">
            {{ exchange.amountFee }} {{ exchange.currencyOut.code }}
        </div>
    </div>
</div>

