<div class="table-wrapper">
    <mat-form-field class="full-width">
        <i class="fas fa-search icon"></i>
        <input placeholder="Search" [(ngModel)]="searchValue" type="text" matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>

    <!--<table matSort (matSortChange)="sortData($event)" matSortActive="name" matSortDirection="asc" matSortDisableClear>-->
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="icon">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                    <img class="icon" [ngClass]="row.code" src="{{row.icon}}" alt="">
                </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME</th>
                <td mat-cell *matCellDef="let row">
                    <div class="name">
                        <div class="title">
                            {{row.code}}
                        </div>
                        <div class="description">
                            {{row.name}}
                        </div>
                    </div>
            </ng-container>

            <ng-container matColumnDef="change">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> 24H CHANGE</th>
                <td mat-cell *matCellDef="let row"><span class="change"
                                                         [ngClass]="row.change >= 0 ? 'positive' : 'negative'">{{row.change.toFixed(2)}}% </span>
                </td>
            </ng-container>

            <ng-container matColumnDef="usd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> PRICE USD</th>
                <td mat-cell *matCellDef="let row"><span class="price">{{row.price.toPrecision(4) | currency:'USD':'symbol':'1.0-8'}} </span></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'active': currencyTableInfo.code === row.code}" (click)="currencySelection(row, this.currencyTableInfo.type)">
            </tr>
        </table>
    </div>
</div>
